body{
    scroll-behavior: smooth;
}

a , .nav-link{
    color:white ;
}

.navbar{
    background: #242F9B;
}

.nav-link{
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

.nav-link:hover{
    color:#6067a8 ;
}

.section{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 70px 10px;
}

.home-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#3138797c , #22296b93) , url("../img/fondo.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.title{
    font-size: 4.5rem;
    color: white;
}

.title span{
    display: block;
    font-size: 0.8em;
    font-weight: 300;
}

.title-container{
    position: relative;
    padding: 20px 0;
    z-index: 9;
}

.title-container::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    
    border-radius: 10px;
    z-index: -1;
}

.btn-about{
    width: 120px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #646FD4;
}

.btn-about:hover{
    background-color: #5963b8;
    color: white;
}

.section-title{
    color: #5963b8;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.img-picture{
    width:400px;
    height: 400px;
    border-radius: 100%;
}

.picture-container{
    margin-top: 30px;
}

.presentacion-text{
    font-size: 2rem;
    color: #6067a8;
}

hr{
    background: #242F9B;
}

#contact{
    background: #5963b8;
}

.contact-section .section-title{
    color: white;
}


.contact-section form , 
.contact-section ~input{
    color: white;
}

.contact-section ul{
    color: white;
    list-style: none;
}

#contact{
    min-height: 10vh;
}

@media screen and (max-width:428px ) {
    .title{
        font-size: 3.5rem;
    }

    .section-title{
        font-size: 3.5rem;
    }

    .img-picture{
        width: 250px;
        height: auto;
    }
}